{% extends "base.html" %}
{% load gravatar %}

{% block title %}Home{% endblock %}

{% block content %}

    <div class="ui segment">
        <h2 class="ui icon header">
          <i class="sound icon"></i>
          Sound boards
        </h2>

        <div class="ui link cards">
            {% for object in object_list %}
                <div class="ui centered card">
                    <div class="content">
                        <img class="right floated mini ui image" src="{% gravatar_url 'acidjunk@gmail.com' 180 %}">
                        <div class="header">
                            {{ object.name }}
                        </div>
                        <div class="meta">
                            {{ object.description }}
                        </div>
                        <div class="description">
                            Just a simple test board with a couple of sounds
                        </div>
                    </div>
                    <div class="extra content">
                        <div class="ui two buttons">
                            <div class="ui basic green button">Show</div>
                            <div class="ui basic red button">Vote</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}